<html>
    <body>
        <h3>Edition d'une experience</h3>
        {{ form_start(form, {'action': path('validate_edit_experience', {'id': entity.getId()}) }) }}
        {{ form(form) }}
    </body>
</html>